@tailwind base;
@tailwind components;
@tailwind utilities;

.amita {
	font-family: var(--font-amita);
}

body {
	position: relative;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("/hero-back.png");
	background-size: cover;
	background-position: center;
	opacity: 0.1;
}

@media (max-width: 768px) {
	body::before {
		background-image: url("/bg02.png");
		opacity: 0.6;
	}
}
